
{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}

<div class="container">

<h1 class="text-center mt-4">Mon panier</h1>
    {% if items | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td><img src="{{ asset('uploads/') ~ item.product.image }}" alt="items" width="50" height="50">
                {{ item.product.nom }}</td>
                <td>{{ item.product.prix }}€</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.prix * item.quantity }}€</td>
                <td>
                    <a href=" {{path('panier_remove', {'id' : item.product.id})}} " class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total : </td>
                <td> {{total}}€ </td>
            </tr>
        </tfoot>
    </table>
    <a href="">Valider mon panier</a>
    {% else %}
    <p class="text-center mt-5">Votre panier est vide ! 
        <br>
    <a class="text-center" href="{{path('index')}}">Commencez votre shopping</a>
    </p>

    {% endif %}

</div>

{% endblock %}


