{% extends 'base.html.twig' %}

{% block title %}Infos Clients | Admin | {{ parent() }}{% endblock %}
{% block header %}
    {% include "includes/adminNavBar.html.twig" %}
{% endblock %}
{% block content %}

<div class="container text-center">
    <h1 class="text-center mt-4">Informations Clients</h1>

    <div class="row">
        <div class="col-6 d-flex flex-column align-items-end font-weight-bold">
            <p>Nom</p>
            <p>Prénom</p>
            <p>Mail</p>
            <p>Adresse Postale</p>
            <p>Code Postal</p>
            <p>Ville</p>
            <p>Téléphone</p>
        </div>
        
        <div class="col-6 d-flex flex-column align-items-start">
         
            <p>{{ user.nom }}</p>
            <p>{{ user.prenom }}</p>
            <p>{{ user.mail }}</p>
            <p>{{ user.adresse }}</p>
            <p>{{ user.cp }}</p>
            <p>{{ user.ville }}</p>
            <p>{{ user.phone }}</p>
        </div>

    </div>

{% endblock %}