{% extends 'base.html.twig' %}

{% block title %}Liste des clients | Admin | {{ parent() }}{% endblock %}
{% block header %}
    {% include "includes/adminNavBar.html.twig" %}
{% endblock %}
{% block content %}
	<div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-3">
                    <h1> Listing des clients</h1>
                </div>
                <div class="col-12 d-flex justify-content-start">
                    <a class="text-decoration-none add-category" href="{{path('admin')}}"><i class="fas fa-arrow-left mr-2"></i>Retour au Dashboard de l'admin</a>
                </div>
            </div>
            <div class="row">
                <table class="col-12 table table-hover mt-3 text">
                    <thead class="thead-dark text-uppercase">
                        <tr>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Prénom</th>
                            <th class="text-center">Mail</th>
                            <th class="text-center">Détails</th>
                            
                        </tr>
                    </thead>
                        
                    {% for user in users %}
                    
                    <tr>
                        <td class="text-center font-weight-bold">{{ user.nom }}</td>
                        <td class="text-center font-weight-bold">{{ user.prenom }}</td>
                        <td class="text-center ">{{ user.mail }}</td>
                        <td class="text-center detail">
                            <a href="{{path('details_user', {'id' : user.id})}}"><i class="fas fa-search-plus"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>            
            </div>
        </div>  
    </div>


{% endblock %}