{% extends 'base.html.twig' %}

{% block title %}Infos Clients | Admin | {{ parent() }}{% endblock %}
{% block header %}
    {% include "includes/adminNavBar.html.twig" %}
{% endblock %}
{% block content %}
	<div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-3">
                    <h1>Détail de la commande</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex flex-column align-items-end font-weight-bold">
                    <table class="table table-hover  mt-5 text">
                        <thead class="thead-dark text-uppercase">
                            <tr>
                                <th colspan="2" class="text-center">Produit</th>
                                <th class="text-center">Quantité</th>
                                <th class="text-center">Prix</th>
                                <th class="text-center"> Total /produit</th>
                            </tr>
                        </thead>
                        {% for detail in details %}
                            <tr>
                                <td class="text-center font-weight-bold">  <img src="{{asset('uploads/' ~ detail.productId.image)}}" alt="" width="50" height="50"></td>
                                <td class="text-center font-weight-bold"> {{detail.productId.nom}} </td>
                                <td class="text-center font-weight-bold">{{detail.quantity}}</td>
                                <td class="text-center font-weight-bold">{{detail.price}}€  </td>
                                <td class="text-center font-weight-bold">{{ detail.price * detail.quantity }}€</td>
                            </tr>
                        {% endfor %}
                            <tfoot>
                            <tr class="">
                                <td colspan="5" class="font-weight-bold text-right">Total :</td>
                                <td class="font-weight-bold ">
                                {# résultat du total #}
                                {# {{ total}} € #}
                                </td>
                            </tr>
                        </tfoot>
                    </table>   
                </div>
            </div>
        </div>
    </div>
{% endblock %}