{% extends 'base.html.twig' %}
{% block title %} Espace client | {{ parent() }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                <h1 class="form-title">Modifier mon mot de passe</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-start">
                <a class="text-decoration-none add-category" href="{{path('compte')}}"><i class="fas fa-arrow-left mr-2"></i>Retour au détail de mon compte</a>
            </div>
            <div class="col-12 d-flex justify-content-center form-modif-infos">
                {{form_start(form)}}

                    <div class="form-group d-flex mt-4">
                        <label for=""><i class="fas fa-lock"></i></label>
                        {{form_widget(form.password, {'attr' : {'placeholder' : 'Nouveau mot de passe', 'class' : 'input'}, 'label' : false})}}
                    </div>
                    <div class="form-group d-flex mt-4">
                        <label for=""><i class="fas fa-lock"></i></label>
                        {{form_row(form.verifPassword, {'attr' : {'placeholder' : 'Confirmation', 'class' : 'input'}, 'label' : false})}}
                    </div>
                    <div class="mb-2 d-flex justify-content-center">
                        <input type="submit" value="Modifier" class="btn btn-info d-flex justify-content-center">
                    </div>
                {{form_end(form)}}
            </div>
           
        </div>
    </div>
</dic>

{% endblock %}