{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block content %}

<div class="container-fluid ">
    <div class="container">
        <div class="row">
        {# boucle for afin d'afficher les articles #}
            <div class="col-12 col-sm-6 col-lg-3  text-center my-5">
                <div class="card">
                {# gestion de l'url : dossier uploads/table article col picture #}
                    <div class="image-carte">
                        <img src="{{ asset('uploads/' ~ product.image) }}" class="card-img-top" width="256" height="208" title="{{ product.nom }}" alt="image {{ product.nom  }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.nom}}</h5>
                        {# date de publication que l'on met au format jj/mm/aa #}
                        <p class="card-text card-decription text-muted mb-0">{{product.description }}</p>                               
                        {# <h6 class="card-subtitle mb-2 text-muted text-right"></h6> #}
                        {# on retourne le chemin canonique absolu avec path de l'article et on ajoute l'id de l'article #}
                    </div>
                    {# <a href="{{path('add_panier', {'id' : product.id })}}">Add</a> #}
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}