{% extends 'base.html.twig' %}

{% block title %}Admin | Ajouter un produit | {{ parent() }}{% endblock %}
{% block header %}
    {% include "includes/adminNavBar.html.twig" %}
{% endblock %}
{% block content %}
	<div class="container-fluid ">
        <div class="container">
            <div class="row  mt-5 mb-3">
                <div class="col-12">
                    <h1>Ajouter ou modifier un produit</h1>
                </div>
                <div class="col-12 text-right ">
                    <a href="{{ path('liste_product')}}" class="btn btn-danger" alt="retour listing"> Annuler</a>
                </div>
            </div>
                {{form_start(formP, {'attr': {'class':'row'}})}}
                        {# {{form_widget(formP)}} #}
                    <div class="input-formP col-12 mb-2">
                        {# Label #}
                        {{ form_label(formP.nom, 'Nom du produit', {'attr': {'class':'font-weight-bold'}}) }}
                        {# Input title class input-title #}
                        {{form_widget(formP.nom, {'attr': {'class':'form-control'}})}}
                        <span id="msg-errors" class="error text-danger">{{ form_errors(formP.nom) }}</span>
                    </div>
                    <div class="input-formP col-12 mb-2">
                        {# Label #}
                        {{ form_label(formP.image, 'Image') }}
                        {# Input title class input-title #}
                        {{form_widget(formP.image, {'attr': {'class':'form-control'}})}}
                        <span id="msg-errors" class="error text-danger">{{ form_errors(formP.image) }}</span>
                    </div>
                    <div class="input-formP col-12 mb-2">
                        {# Label #}
                        {{ form_label(formP.description, 'Decription') }}
                        {# Input title class input-title #}
                        {{form_widget(formP.description, {'attr': {'class':'form-control'}})}}
                        <span id="msg-errors" class="error text-danger">{{ form_errors(formP.description) }}</span>
                    </div>
                    <div class="input-formP col-12 mb-2">
                        {# Label #}
                        {{ form_label(formP.category, 'Catégorie du produit') }}
                        {# Input title class input-title #}
                        {{form_widget(formP.category, {'attr': {'class':'form-control'}})}}
                        <span id="msg-errors" class="error text-da, {'attr': {'class':'form-control'}}nger">{{ form_errors(formP.category) }}</span>
                    </div>
                    <div class="input-formP col-12 mb-2">
                        {# Label #}
                        {{ form_label(formP.prix, 'Prix') }}
                        {# Input title class input-title #}
                        {{form_widget(formP.prix, {'attr': {'class':'form-control'}})}}
                        <span id="msg-errors" class="error text-danger">{{ form_errors(formP.category) }}</span>
                    </div>
                    <div class="input-formP col-12 mb-2">
                        {# Label #}

                        <label class="d-flex justify-content-end">
                            {{ form_widget(formP.isPublished, {'attr': {'class': 'filled-in '}}) }}
                            <span class="checkbox-published ml-1">Publier</span>
                        </label>
                        <span id="msg-errors" class="error text-danger">{{ form_errors(formP.isPublished) }}</span>
                    </div>

                        <div class="input-formP submit-formP col-12 mb-2 d-flex justify-content-end">
                            <input type="submit" name="" value="Enregistrer" class="btn btn-info btn-submit-form">
                        </div>
                                           
                    {{form_end(formP)}}
        </div>
    </div>


{% endblock %}