
 {% extends 'base.html.twig' %}

{% block title %}Admin | Listing des catégories | {{ parent() }}{% endblock %}
{% block header %}
    {% include "includes/adminNavBar.html.twig" %}
{% endblock %}
{% block content %}

	<div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-3">
                    <h1>Listing des catégories</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6 d-flex justify-content-start">
                    <a class="text-decoration-none add-category" href="{{path('admin')}}"><i class="fas fa-arrow-left mr-2"></i>Retour au Dashboard de l'admin</a>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <a class="text-decoration-none add-category" href="{{path('add_category')}}"><i class="fas fa-plus mr-2"></i>Nouvelle catégorie</a>
                </div>
                <table class="table table-hover mt-3 text col-12">
                        <thead class="thead-dark  title-listing">
                            <tr>
                                <th class="text-center">Nom</th>
                                <th class="text-center">Modifier</th>
                                <th class="text-center">Supprimer</th>
                            </tr>
                        </thead>
                            
                        {% for cat in categories %}
                        
                        <tr>
                            
                            <td class="text-center font-weight-bold">{{ cat.nom }}</td>
                            <td class="text-center"><a class="btn-edit" href="{{ path('update_category', {'id' : cat.id}) }}"><img src="{{asset('images/' ~ 'edit.svg')}}" width="30" height="30" alt="Modifier"/></a></td>
                            <td class="text-center">
                            <form action="{{path('delete_cat', {'id' : cat.id})}}" method="post" class="col" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
                                <input type="hidden" name="_method" value="SUP">
                                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ cat.id)}}">
                                <input type="submit" value="Supprimer"  class="btn btn-outline-danger btn-submit-form">
                            </form></td>

                        </tr>
                        {% endfor %}
                    </table>
            </div>
            
        </div>
    </div>


{% endblock %}
