{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit | Admin | {{ parent() }}{% endblock %}

{% block content %}
	<div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-3">
                    <h1> Listing des produits</h1>
                </div>
            </div>

            <div class="input-formP col-12 mb-2">
            <a class="text-decoration-none" href="{{path('add_product')}}"><i class="fas fa-plus mr-2"></i>Nouveau produit</a>
            <table class="table table-hover mt-5 text">
                    <thead class="thead-dark text-uppercase">
                        <tr>
                            <th class="text-center">Image</th>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Catégorie</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">En ligne</th>
                            <th class="text-center">Modifier</th>
                            <th class="text-center">Supprimer</th>
                        </tr>
                    </thead>
                        
                    {% for product in products %}
                    
                    <tr>
                        <td class="text-center font-weight-bold"> <img src="{{asset('uploads/' ~ product.image)}}" alt="" width="50" height="50"> </td>
                        <td class="text-center font-weight-bold">{{ product.nom }}</td>
                        <td class="text-center font-weight-bold">{{ product.category.nom }}</td>
                        <td class="text-center font-weight-bold">{{ product.description }}</td>
                        <td class="text-center font-weight-bold">
                            {% if product.isPublished %}
                                Oui
                                {% else %}
                                Non
                                {% endif %}
                        </td>
                        <td class="text-center"><a class="both input-style color-blue" href="{{ path('product_update', {'id' : product.id}) }}">Update</a></td>
                        <td class="text-center"><form action="{{path('delete_product', {'id' : product.id})}}" method="post" class="col" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
                            <input type="hidden" name="_method" value="SUP">
                            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ product.id)}}">
                            <input type="submit" value="Supprimer" class="input-style both input-style-color">
                        </form></td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
