{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row  mt-5 mb-5 text-center">
            <div class="col-12">
                <h1 class="">Votre commande est validée !</h1>
            </div>
        </div>  
        <div class="row  mt-5 mb-5 text-center">
            <div class="col-12">
                <p>Merci pour votre commande, {{order.user.nom}}</p>
                 <div class="">
                    <a class="text-decoration-none add-category mt-3 mr-5" href="{{path('index')}}"><i class="fas fa-arrow-left mr-2"></i>Retour à la boutique</a>
                    <a href="{{ path('compte')}}" class="btn btn-info ml-5">Voir mes commandes</a>
                </div>         
            </div>
        </div>  
    </div>
</div>
{#  {% for item in items %}
        {{item.product.nom}} => {{ item.quantity}}
    {% endfor %} #}

   

{% endblock %}