{% extends 'base.html.twig' %}

{% block title %}Admin | Ajouter une catégorie | {{ parent() }}{% endblock %}
{% block header %}
    {% include "includes/adminNavBar.html.twig" %}
{% endblock %}
{% block content %}
<div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-3">
                    <h1> Ajouter ou modifier une catégorie</h1>
                </div>
                <div class="col-12 text-right ">
                    <a href="{{ path('liste_cat')}}" class="btn btn-danger" alt="retour listing"> Annuler</a>
                </div>
            </div>
            {{form_start(formCat, {'attr': {'class':'row'}})}}
                {# {{form_widget(formP)}} #}
            <div class="input-formCat col-12 mb-2">
                {# Label #}
                {{ form_label(formCat.nom, 'Nom de la catégorie') }}
                {# Input title class input-title #}
                {{form_widget(formCat.nom, {'attr': {'class':'form-control'}})}}
                    <span id="msg-errors" class="error text-danger">{{ form_errors(formCat.nom) }}</span>
                    <div class="input-formP submit-formP mb-2 d-flex justify-content-end">
                        <input type="submit" name="" value="Enregistrer" class="btn btn-info btn-submit-form mt-4">
                    </div>
                {{form_end(formCat)}} 
            </div>
        </div>
    </div>

{% endblock %}